<mat-dialog-content class="dialog-content">
    <label>Name</label>
    <p><strong>{{data.Name}}</strong></p>
    <hr>

    <label> Email</label>
    <p><strong>{{data.Email}}</strong></p>
    <hr>

    <label>Gender</label>
    <p><strong>{{data.Gender}}</strong></p>
    <hr>

    <label>City</label>
    <p><strong> {{data.City}} </strong></p>
    <hr>

    <label>Phone number</label>
    <p><strong> {{data.Phone_number}}</strong> </p>
    <hr>


    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Back</button>
    </mat-dialog-actions>

</mat-dialog-content>