/* .sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background: rgb(190, 189, 189);
}

.sidenav .mat-toolbar {
  background: rgb(190, 189, 189);
}

.mat-toolbar.mat-primary {
  position: sticky;
  background: rgb(201, 200, 200);
  border-bottom: 10px rgb(0, 0, 0);
  top: 0;
  z-index: 1;
} */


.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background: rgb(190, 189, 189);
}

.sidenav .mat-toolbar {
  background: rgb(190, 189, 189);
}

.mat-toolbar.mat-primary {
  position: sticky;
  background: rgb(201, 200, 200);
  border-bottom: 10px rgb(0, 0, 0);
  top: 0;
  z-index: 1;
}

.users-button {
  display: block;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid white; /* Add the white border at the bottom */
  padding-bottom: 10px; /* Add some padding to make space for the border */
}
